*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    cursor: url('m2\search\img\starter-fire-pack.png'), auto;
    background-color: blue;
}
form{
    width: 300px;
    float: right;
    display: flex;
    margin: 10px 20px;
}


.search{
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid #fff;
}

button{
    width: 25%;
    height: 40px;
    background-color: cadetblue;
    color: #fff;
    padding: 5px 20px;
}

button:hover{
    background-color: burlywood;
}